@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.list {
  @include flex(flex-start);
  margin-bottom: 8px;
  column-gap: 4px;
}

.svgEmpty {
  cursor: pointer;
  fill: $clr-white;
}

.svgEmptyAnimated {
  @extend .svgEmpty;
  animation: warn 0.5s ease;
}

.svgFilled {
  @extend .svgEmpty;
  fill: $clr-accent-form;
}

@keyframes warn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5) translateY(-4px);
  }
  100% {
    transform: scale(1);
  }
}
