@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.general {
  padding: 60px 20px;
  background-color: $clr-accent;
  background-repeat: no-repeat;
  background-image: $gradient, url("../../assets/images/mobile/bg-signup.jpg");
  background-position: 50% 50%, 0 100%;
  background-size: cover, cover;

  @include mq(tablet) {
    background-image: $gradient, url("../../assets/images/tablet/bg-signup.jpg");
  }
}

.lowerText {
  margin-top: 20px;
  @include font(13px, 16px);
  text-align: center;
  color: $clr-gray-support;

  @include mq(tablet) {
    @include font(16px, 18px);
  }
}

.link {
  display: inline-block;
  margin-left: 3px;
  color: $clr-accent-form;
}
