@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

// .list {
//   margin-top: 4px;

//   @include mq(tablet-only) {
//     width: 240px;
//     margin: 4px auto 0;
//   }
// }
.general {
  max-height: 192px;
  overflow: auto;
  @include mq(desktop) {
    max-height: 120px;
  }
}

.table {
  margin: 0 auto;
  @include font(14px);
}

.pale {
  color: $clr-gray-support;
}

.dayCell,
.hmsCell,
.pagesCell {
  padding-right: 15px;
  text-align: right;

  @include mq(tablet-only) {
    padding-right: 30px;
  }
}

.pagesCell {
  padding-right: 0;
}
