@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.general {
  width: 100%;
  padding: 32px 20px;
  background-color: $clr-accent;
  background-repeat: no-repeat;
  background-image: $gradient, url("../../assets/images/mobile/bg-signup.jpg");
  background-position: 50% 50%, 0 100%;
  background-size: cover, cover;

  @include mq(tablet) {
    background-image: $gradient, url("../../assets/images/tablet/bg-signup.jpg");
  }
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: 8px;
  @include font(14px, 21px);
  color: $clr-white;
}

.input {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 8px;
  outline: none;
  border: none;
  background-color: $clr-white;
  @include font(14px, 17px);
  color: $clr-accent;

  &::placeholder {
    color: $clr-gray;
  }
}

.btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  padding: 20px;
  border: none;
  @include font(16px, 20px);
  color: $clr-white;
  background-color: $clr-accent;
  transition: color $transition, background-color $transition;

  &:hover,
  &:focus {
    color: $clr-accent;
    background-color: $clr-white;
  }
}

.link {
  display: block;
  @include font(13px, 16px);
  color: $clr-accent-form;
  text-align: center;

  @include mq(tablet) {
    @include font(16px, 18px);
  }
}
