@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.main {
  min-height: calc(100vh - 66px);
  padding: 20px 0;
  background-color: $clr-body-bg;
}

.upperBtn {
  margin: 0 auto 20px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  @include font(14px, 17px);
  background-color: $clr-accent-form;
  color: $clr-white;
  box-shadow: $shadow-btn;
}

.formBtn {
  @extend .upperBtn;
  background-color: $clr-accent;
}

.trainingBtn {
  margin: 0 auto;
  padding: 11px 38px;
  @include font(16px, 20px);
  color: $clr-white;
  background-color: $clr-accent;
  transition: color $transition, background-color $transition;

  &:hover,
  &:focus {
    color: $clr-accent;
    background-color: $clr-gray-support;
  }
}
