@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

$clr-body-bg: #f6f7fb;
$clr-white: #fff;
$clr-accent: #4735af;
$clr-gray: #b1b5c2;
$clr-gray-light: #f5f7fa;
$clr-gray-dark: #242a3780;
$clr-gray-header: #e0e5eb;
$clr-gray-support: #898f9f;
$clr-accent-form: #f25137;
$clr: #e0e5eb;

$clr-font-main: #242a37;

$clr-backdrop: #143262cc;
$clr-overlay: #2b2b2b1a;

$header-shadow: 0px 2px 3px #091e3f1a;
$gradient: linear-gradient(to bottom, #091e3fcc, #091e3fcc);

$transition: 300ms ease-in-out;
$transition-slow: 1000ms linear;

$font-main: "Rokkitt", serif;
$font-brand: "Abril Fatface", cursive;
