@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");

$clr-body-bg: #f6f7fb;
$clr-white: #fff;
$clr-overlay: #2b2b2b1a;
$clr-accent: #4735af;
$clr-gray: #b1b5c2;
$clr-font-main: #242a37;

$font-main: "Rokkitt", serif;
